* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poiret One', cursive;
}

.container {
  max-width: 1024px;
  /*max-width: 1024px;*/
  margin: 0 auto;
  //border: 1px solid red;
}

.banner-filter {
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
}