.footer-nav {
  height: 200px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer-nav-media {
      margin: 40px 0;
      a {
        margin: 0 10px;
        svg {
          fill: map-get($colors, main-color);
          width: 50px;
          height: 50px;
          transition: all 300ms;
        }
        svg:hover {
          fill: map-get($colors, border-color-darker);
        }
      }
    }

    .footer-nav-list {
      display: flex;
      justify-content: center;
      font-size: 1.5em;
      list-style: none;
      margin-bottom: 30px;

      li {
        margin: 0 15px;
      }
      a {
        text-decoration: none;
        color: map-get($colors, text-color);
        transition: all 300ms;
        //margin: 0 15px;
      }
      a:hover {
        //border-bottom: 1px solid map-get($colors, underline-color);
      }
      a:hover {
        color: map-get($colors, main-color);
      }

      a:hover + .linkUnderline {
        //border-bottom: 1px solid map-get($colors, underline-color);
        color: map-get($colors, main-color);
        visibility: visible;
        width: 100%;
      }


      .linkUnderline {
        visibility: hidden;
        width: 0;
        height: 1px;
        background-color: map-get($colors, main-color);
        transition: all 300ms;
      }
    }
  }
}