.slodkosci {
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
  h1 {
    text-align: center;
    font-size: 4rem;
    padding: 30px 0;
  }

  .slodkosci-posts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    //border: 1px solid green;

    .slodkosci-post {
      //border: 1px solid red;
      .slodkosci-post-img {
        margin: 10px;
        height: 300px;
        width: 300px;
        border: 2px solid map-get($colors, text2-color);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .slodkosci-post-title {
        //border: 1px solid navy;
        font-size: 20px;
        text-align: center;
      }
    }
  }

  .slodkosci-detailed-post {
    //border: 1px solid red;
    //width: 100%;
    .detailed-post-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      padding: 10px 0;
    }
    .detailed-post-nav-left {
      //border: 1px solid pink;
      text-align: left;
    }

    .detailed-post-nav-right {
      //border: 1px solid pink;
      text-align: right;
      span {
        margin-right: 5px;
      }
    }
    .detailed-post-body {
      display: flex;
      padding: 15px 0;
      .detailed-post-body-left {
        //border: 1px solid green;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 500px;
          height: 500px;
        }
      }

      .detailed-post-body-right {
        //border: 1px solid purple;
        width: 50%;
        padding: 0 20px;
        h1 {
          text-align: left;
          padding: 0;
        }
        h3 {
          word-spacing: 20px;
          margin: 20px 0;
        }
        p {
          margin: 20px 0;
          font-size: 1.2rem;
        }
      }
    }
    .detailed-post-footer {
      border-bottom: 1px solid black;
    }
  }

}