.blog-detailed-post {
  //border: 1px solid red;
  //width: 100%;
  margin: 0 15px;
  @include mobile {
    margin-top: 20px;
  }

  .detailed-post-nav {
    //border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0;
  }
  .detailed-post-nav-left {
    //border: 1px solid pink;
    text-align: left;
    margin-left: 18px;
    strong {
      font-weight: bold;
      color: map-get($colors, main-color);
    }
  }

  .detailed-post-nav-right {
    //border: 1px solid pink;
    text-align: right;
    span {
      margin-right: 10px;
    }
  }
  .detailed-post-body {
    display: flex;
    padding: 70px 0;
    border-bottom: 1px solid black;
    @include tablet {
      flex-direction: column;
      padding: 20px 0;
    }
    .detailed-post-body-left {
      //border: 1px solid green;
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include tablet {
        width: 100%;
        padding: 20px;
      }
      img {
        width: 100%;
      }
    }

    .detailed-post-body-right {
      //border: 1px solid purple;
      width: 55%;
      padding: 0 20px;
      @include tablet {
        width: 100%;
      }
      h1 {
        text-align: left;
        padding: 0;
      }
      h3 {
        word-spacing: 20px;
        margin: 20px 0;
      }
      p {
        margin: 20px 0;
        font-size: 1.2rem;
      }
    }
  }
  .detailed-post-footer {
    border-bottom: 1px solid black;
  }
}