.aboutus {
  margin: 0 auto;
  padding: 0 50px;
  h1 {
    text-align: center;
    font-size: 4rem;
    padding: 30px 0;
  }

  .aboutus-text {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 50%;
      width: 20%;
      height: 20%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .aboutus-img-1 {
      margin-right: 25px;
    }
    .aboutus-img-2 {
      margin-left: 25px;
    }

    p {
      font-size: 1.2rem;
      //text-indent: 50px;
      line-height: 35px;
      padding: 40px 0;
      text-align: justify;
      strong {
        color: map-get($colors, main-color);
        font-size: 1.3rem;
      }
    }
  }

}