$colors: (
        main-color: #58C9B9,
        text-color: #000000,
        text2-color: #ffffff,
        background-color: rgba(88, 201, 185, 0.1),
        underline-color: rgba(0, 0, 0, 0.6),
        underline-color2: rgb(205, 205, 205),
        border-color-darker: rgba(88, 201, 185, 0.5)

);